.btn-gradient {
  color: var(--color-secondary);
  background: rgb(209,170,148);
  border-radius: 35px;
  border: unset;
  display: flex;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  transition: all 450ms ease;
}

.btn-gradient:hover {
  background: rgb(209,170,148);
  transition: all 450ms ease;
  color: var(--color-secondary);
  text-decoration: unset;
}
