:root {
  --color-primary: #E5D9C3;
  --color-secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "kanit" !important;
}

h1 , .h1 {
  position: relative;
  font-size: 2.5rem!important;
  margin-bottom: 1.25rem!important;
}

h3 , .h3 {
  font-size: 1.25rem!important;
}

h2 , .h2 {
  font-size: 1.5rem!important;
}



/* @media (min-width: 992px) {
  .content {
    margin: 10rem 0px 5rem;
  }
} */
