@font-face {
    font-family: 'arizonia';
    src: url('Arizonia-Regular.woff2') format('woff2'),
        url('Arizonia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

