<section class="footer__relate">
  <div class="container">
    <div class="row justify-content-between mb-4 no-gutters">
      <h2 class="text-blue">บทความ</h2>

      <a class="btn-gradient" href="">ดูทั้งหมด</a>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-deck">
          <div class="card card--relate">
            <img
              class="card-img-top"
              src="/image/default/relate-post-1.jpg"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title">อัพเดตล่าสุด ปรับโฉม</h5>
              <p class="card-text">
                ใบขับขี่ปรับโฉมใหม่แล้วทุกประเภท!
                ใครมีใบขับขี่เก่าอยู่ต้องทำอย่างไร
                แล้วใบขับขี่ตลอดชีพต้องทำใหม่หรือไม่
                สามารถเช็ครายละเอียดได้เลยที่นี่
              </p>
              <div class="card-button">
                <a href="#" class="btn btn-primary">อ่านต่อ</a>
              </div>
            </div>
          </div>
          <div class="card card--relate">
            <img
              class="card-img-top"
              src="/image/default/relate-post-2.jpg"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <div class="card-button">
                <a href="#" class="btn btn-primary">อ่านต่อ</a>
              </div>
            </div>
          </div>
          <div class="card card--relate">
            <img
              class="card-img-top"
              src="/image/default/relate-post-3.jpg"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <div class="card-button">
                <a href="#" class="btn btn-primary">อ่านต่อ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer__sitemap">
  <div class="icon-wrapper">
    <div class="icon">
      <a href="">
        <img src="/image/icon/line-icon.svg" alt="" />
      </a>
    </div>
    <div class="icon">
      <a href="">
        <img src="/image/icon/facebook-icon.svg" alt="" />
      </a>
    </div>
    <div class="icon">
      <a href="">
        <img src="/image/icon/instagram-icon.svg" alt="" />
      </a>
    </div>
    <div class="icon">
      <a href="">
        <img src="/image/icon/twitter-icon.svg" alt="" />
      </a>
    </div>
  </div>
</div>
