<link rel="stylesheet" href="font/stylesheet.css" />

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-2">
      <a href="#">
        <img src="image/logo/logo.svg" alt="" />
      </a>
    </div>
    <div class="col-lg-7 d-flex justify-content-center position-static">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">หน้าแรก</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                โปรโมชั่น
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">โปรโมชั่นประกันรถยนต์</a>
                <a class="dropdown-item" href="#">โปรโมชั่นประกัน COVID-19</a>
                <a class="dropdown-item" href="#">โปรโมชั่นประกันอื่นๆ</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                ซื้อประกัน
              </a>
              <div
                class="dropdown-menu dropdown-menu--insurance"
                aria-labelledby="navbarDropdown"
              >
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันภัยรถยนต์</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันภัยรถยนต์</a>
                      <a class="dropdown-item" href="#">ประกัน ชั้น1</a>
                      <a class="dropdown-item" href="#">ประกัน ชั้น2+</a>
                      <a class="dropdown-item" href="#">ประกัน ชั้น2</a>
                      <a class="dropdown-item" href="#">ประกัน ชั้น3+</a>
                      <a class="dropdown-item" href="#">ประกัน ชั้น3</a>
                      <a class="dropdown-item" href="#">พรบ รถยนต์</a>
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันภัย COVID-19</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันภัย COVID-19</a>
                      <a class="dropdown-item" href="#"
                        >ประกันแพ้วัคซีน COVID-19</a
                      >
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันสุขภาพ</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันสุขภาพ</a>
                      <a class="dropdown-item" href="#">Health plus</a>
                      <a class="dropdown-item" href="#">Worry free</a>
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันอุบัติเหตุ</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันอุบัติเหตุ</a>
                      <a class="dropdown-item" href="#">PA Cover</a>
                      <a class="dropdown-item" href="#">PA 333</a>
                      <a class="dropdown-item" href="#">Value+</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันมอเตอร์ไซค์</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันมอเตอร์ไซค์</a>
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันภัยบ้าน</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันภัยบ้าน</a>
                      <a class="dropdown-item" href="#">HOME PLUS</a>
                      <a class="dropdown-item" href="#">EASY PLUS</a>
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันการท่องเที่ยว</span>
                      </a>
                      <a class="dropdown-item" href="#"> ประกันการท่องเที่ยว</a>
                    </div>
                    <div class="col-lg-3">
                      <a
                        class="dropdown-item dropdown-item--highlight"
                        href="#"
                      >
                        <span>ประกันการขนส่ง</span>
                      </a>
                      <a class="dropdown-item" href="#">ประกันการขนส่ง</a>
                      <a class="dropdown-item" href="#">ในต่างประเทศ</a>
                      <a class="dropdown-item" href="#">ต่างประเทศ</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                บทความ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">ครบเครื่องเรื่องรถยนต์</a>
                <a class="dropdown-item" href="#">มอเตอร์ไซค์</a>
                <a class="dropdown-item" href="#">สุขภาพ</a>
                <a class="dropdown-item" href="#">น่ารู้ประกัน</a>
                <a class="dropdown-item" href="#">บทความทั้งหมด</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                บริการ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">อู่ในเครือ</a>
                <a class="dropdown-item" href="#">โรงพยาบาลในเครือ</a>
                <a class="dropdown-item" href="#">เคลม</a>
                <a class="dropdown-item" href="#">คำถามที่พบบ่อย</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                เกี่ยวกับเรา
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">เอเชียคือใคร?</a>
                <a class="dropdown-item" href="#">ติดต่อเรา</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-lg-3 d-flex align-items-center">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                เข้าสู่ระบบ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="search">
        <img src="image/icon/icon-search.svg" alt="" />
      </div>

      <div class="language d-flex">
        <a class="text-white" href="">TH</a>
        <span class="text-white">│</span>
        <a class="text-white" href="">EN</a>
      </div>
    </div>
  </div>
</div>
