@font-face {
    font-family: 'hurricane';
    src: url('Hurricane-Regular.woff2') format('woff2'),
        url('Hurricane-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

